*{
    background: #e8fbfc;
}

.botao {
    background-color: #007bff; /* Cor de fundo azul */
    color: white; /* Texto branco */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor para mãozinha */
    font-size: 16px;
}