* {
       margin: 0;
       padding: 0;
       box-sizing: arial,Helvetica, sans-serif;
}
body {
       
       min-width: 100vh;
}

.topo {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 20px 40px;
}

.menu a {
       margin-left: 20px;
       text-decoration: none;
       
       font-weight: 500;
}

.btn-login {
      
       background: none;
       padding: 8px 20px;
       border-radius: 20px;
       cursor: pointer;
      
}
.container {
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 60px 80px;
}

.conteudo {
       max-width: 500px;
}